/* You can add global styles to this file, and also import other style files */

body {
    color: rgb(15, 190, 229);
}

.card {
    background-color: rgb(73, 72, 72);
    border-radius: 10px;
}

.text {
    color: whitesmoke;
    letter-spacing: 0.5px;
}

/* .mdc-text-field {
    overflow: visible !important;
    border: 1px solid yellow;
} */
