<div class="card" style="width: 100%; height: 500px; padding-top: 2rem; display: flex; flex-direction: column; gap: 2rem; align-items: center;">
    
    <!-- <i class="fas fa-sun" style="color: rgb(242, 156, 8); font-size: 48px;"></i> -->

    <div style="display: flex; flex-direction: column; gap: 5px;">
        <i [ngClass]="favouriteService.getIconClass('cloudy')" style="align-self: center;"></i>
        <div *ngIf="screen === 'pc'" class="text">Weather</div>
    </div>

    <div style="display: flex; flex-direction: column; gap: 5px;">
        <i [ngClass]="favouriteService.getIconClass('city')" style="align-self: center;"></i>
        <div *ngIf="screen === 'pc'" class="text">Cities</div>
    </div>

    <div style="display: flex; flex-direction: column; gap: 5px;">
        <i [ngClass]="favouriteService.getIconClass('map')" style="align-self: center;"></i>
        <div *ngIf="screen === 'pc'" class="text">Map</div>
    </div>

</div>
